@charset "utf-8";
/*--------------盖象首页-----------------*

/* 样式重置 盖网 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
table,caption,tbody,tfoot,thead,tr,th{margin:0;padding:0;border:0;outline:0;font-size:100%;}
body{ line-height:1.5;}
ol,ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0;}
a{cursor:pointer;}
/* 单独的清除元素*/
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}

/* 当一个外部元素内部有浮动元素时，外部元素如需清除浮动，用如下的清除样式 */
.clearfix:after {clear: both; content: '.';display: block;visibility: hidden;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
*+html .clearfix{min-height:1%;}

/* text */
body,input,select,textarea{ color:#000; font-family:'微软雅黑',arial; font-size:12px; margin:0; padding:0;}
input,textarea{vertical-align:middle; border:0 none;}

input::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder {color:#999;}
input:-ms-input-placeholder {color:#999;}

textarea::-webkit-input-placeholder {color:#999;}
textarea:-moz-placeholder {color:#999;}
textarea:-ms-input-placeholder {color:#999;}

a:focus{outline:1px dotted invert;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:20px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:12px}
a{color:#000; text-decoration:none;}
a:hover{color:#C20005; text-decoration:none;}
.red{color:#c83253;}
.gray{color:#999;}

.fl{ float:left; }
.fr{ float:right; }

.w1200{width: 1200px;min-width: 1200px; margin: auto;position: relative;}
.mt10{ margin-top:10px; }
.mt20{ margin-top:20px; }
.mr10{ margin-right:10px;}
.pt10{ padding-top:10px;}


/*全站统一---头部*/
.index-icon{background: url(../images/bgs/index_sprites.png) no-repeat;}
.gx-top-advert{width:100%;min-width:1200px;height:70px;position: relative;}
.gx-top-advert span{position: absolute;background-position: 0 -148px;width:26px;height:26px;cursor: pointer;top: 20px;z-index: 99;left: 50%;margin-left: 574px;}
.gx-top-title{width:100%;min-width:1200px;height:40px;background: #e6e6e6;line-height: 40px;z-index: 101;position: relative;}
.gx-top-title-main{width:1200px;margin: auto;color: #555;}
.gx-top-title-main a{color: #555;}
.gx-top-title-main .gx-top-home{background-position: 0px 10px;display: block;float: left;padding-left: 28px;color: #666;}
.gx-top-welcome{float: left;margin-left:45px;}
.gx-top-welcome a{color: #c20005;font-size: 12px;}
.gx-top-login{float: left;margin-left:45px;}
.gx-top-login span{margin-left: 20px;}
.gx-top-login span i{font-style: normal;color: #c8000a;}
.gx-top-login a{margin-left: 20px;}
.gx-top-nav{float: right;}
.gx-top-shopping{float: left;padding-left: 30px;*width: 70px;background-position: -1px -38px;margin-right: 15px;}
.gx-top-shopping-num{display: block;width: 20px;height: 20px;background:#c8000a;border-radius: 50%; float: right;margin: 10px 0 0 5px;*margin: -20px 0 0 5px;color: #fff;text-align: center;line-height: 20px;}
.gx-top-mygx{float: left;width: 78px;text-indent: 10px; cursor: pointer;position: relative;height: 38px;line-height: 38px;border:#e6e6e6 solid 1px;background-position: -13px -2440px;margin-left: -2px;}
.gx-top-mygx span{display: block;width: 13px;height:7px;position: absolute;right:6px;top:17px;background-position: -9px -206px;}
.gx-top-mygx2{width: 72px;text-indent: 15px;}
.gx-top-mygx-sel{border: 1px #646464 solid;border-bottom: none; background: #fff;color: #c20005;position: relative;z-index: 2;}
.gx-top-mygx-sel span{background-position: -55px -208px;}
.gx-top-mygx-sel > a{color: #c20005;}
.gx-top-ycItem{position: absolute;left:-1px;top:38px;width: 100%;background: #fff;border: 1px #646464 solid;border-top:none;padding: 5px 0px;line-height: 22px;display: none;text-indent: 0px;}
.gx-top-ycItem a{width: 100%;display: inline-block;text-align: center;overflow: hidden;height: 22px;}
.gx-top-ycItem a:hover{color: #c20005;}
.gx-top-app{width: 65px;display: block;float: left;padding-left: 12px;}
.gx-top-app span{background-position: -3px -100px;width: 18px;height: 20px;right: 58px;top: 11px;}
.gx-top-app .gx-top-ycItem{width:230px;left: -76px;z-index: 10;border-top: 1px #646464 solid;top: 38px;}
.gx-top-app .gx-top-ycItem ul{text-align: center;padding-top: 10px;}
.gx-top-app .gx-top-ycItem ul li{width:100px;display: inline-block;}
.gx-top-app .gx-top-ycItem ul li p{color: #8c8c8c;font-size: 12px;}
.gx-top-app .gx-top-app-files{display: none;width: 76px;height: 2px;background: #ffffff;position: absolute;top: 37px;left: 0px;z-index: 101;}
.gx-top-mygx-sel .gx-top-app-files{display:block;}

.gx-top-logoSearch{width:1200px;margin: auto;height: 110px;position: relative;z-index: 99;}
.gx-top-logo{display: block;float: left;width: 209px;height: 57px;margin-left: 20px; margin-top:19px;}
.gx-top-search{float: left;margin: 26px 0 0 80px;width: 600px;}
.gx-top-search-inp{width: 450px;float: left;}
.gx-top-search-box{float: left;height: 32px;width: 450px;background: #323232;position: relative;}
.gx-top-search-box input[type="text"]{width: 376px;height: 30px;*height:30px;font-size: 14px;line-height: 30px;display: block;float: left;padding: 0px 10px;border: #323232 solid 1px;border-left: none;}
.gx-top-search-but{display: block;width: 50px;height: 32px;background-position: 10px -443px;float: left;cursor: pointer;}
.gx-top-search-tj{overflow: hidden;width: 450px;padding: 5px 0px 0px 2px;}
.gx-top-search-tj a{margin-right: 10px;color: #888;}
.gx-top-search-tj a:hover{color: #c20005;}
.gx-top-search-inp ul{width: 395px; background:#ffffff;border:#dddddd solid 1px;position: absolute;margin-top: 31px;margin-left: 0px;display: none;}
.gx-top-search-inp ul li{line-height: 28px;font-size: 14px;position: relative;height: 28px;}
.gx-top-search-inp ul li a{width: 290px;padding-right: 90px; display: block;height: 28px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-indent: 10px;float: left;display: inline-block;color: #333;}
.gx-top-search-inp ul li a i{font-size: 12px;color: #a0a0a0;position: absolute;right: 5px;line-height: 28px;font-style:normal;top: 0px;}

.gx-top-search-select{width: 56px;height: 32px;float: left;background: #ffffff;}
.gx-top-search-select:hover p{background-position: 30px -2393px; }
.gx-top-search-select p{padding-left:7px; line-height: 30px;font-size: 14px;position: relative;cursor: pointer;border: #323232 solid 1px;background-position: 30px -2344px;border-right:none; }
.gx-top-search-select span{background-position: -6px -255px;width: 16px;height: 9px; position: absolute;margin-top: 11px;margin-left: 50px;}
.gx-top-search-select ul{display: none;width: 56px;background: #ffffff;border-top:0px; }
.gx-top-search-select ul li{width: 100%;line-height: 32px;font-size: 13px;background: #323232;color: #ffffff;text-align: center;cursor: pointer;}
.gx-top-search-select ul li:hover{background: #c8000a;}

.gx-top-search-box ul li.on{background: #FFCCAA;}

/*导航*/
.gx-nav{height: 40px;line-height: 40px;width: 100%;min-width:1200px;background: #323232;}
.gx-nav-main{width: 1200px;margin: auto;}
.gx-nav-left{float: left;width: 145px;height:40px;background-color: #c20005;font-size: 16px;color: #fff;background-position: 18px -487px; padding-left:55px;position: relative;}
.gx-nav-item-right{float: right;width: 170px;margin: 10px 12px 0 0;}
.gx-nav-item-right img{border: 1px #e8e8e8 solid;margin-top: 5px;}
.gx-nav-right{float: left;position: relative;max-width: 1000px;}
.gx-nav-right a{display: block;float: left;width: 100px;margin-right: 65px; text-align: center;line-height: 40px;height: 40px;font-size: 16px;color: #ffffff;}
.gx-nav-right span{width: 30px;height: 14px;position: absolute;background-position: -2px -852px;margin-left: 2px; top: 2px;}
.gx-nav-right .on{color: #ff0000;border-bottom:#ff0000 2px solid;height: 38px;}
.gx-nav-left-title{cursor: pointer;}
.gx-nav-left-list{display: none;position: absolute;left:0px;width: 200px;top:40px;background: #c8000a;border-bottom: #c8000a solid 1px;border-top:#a60b13 solid 1px;z-index: 10;*z-index: 999;}
.gx-nav-left-list ul{*overflow:hidden;}
.gx-nav-left-list ul li{font-size: 14px;color: #fefefe;cursor: pointer;}
.gx-nav-item{display:none;z-index:-1; width: 998px;min-height:448px;position: absolute;background:url(../images/bgs/gx_nav_item_bg.png) repeat;left:200px;top:-1px;border: 1px #c8000a solid;cursor:default;}
.gx-nav-item-left{float: left;font-size: 12px;}
.gx-nav-item-right{float: right;}
.gx-nav-item-recommend{margin: 15px 0 0 20px;}
.gx-nav-item-recommend a{padding: 0 10px;border: #c8000a solid 1px; color: #c8000a;display: block;float: left;margin-right: 10px;line-height: 25px;}
.gx-nav-item-style{margin-top: 15px;}
.gx-nav-item-style dl{margin:3px 0 0 30px;line-height: 27px;}
.gx-nav-item-style dt{float: left;color: #242424;font-weight: bold;width: 75px;}
.gx-nav-item-style dd{float: left;color: #666;width: 593px;border-bottom:#dddddd dotted 1px;line-height: 22px;padding-bottom: 5px;}
.gx-nav-item-style dd a{color: #666;margin-right: 5px;}
.gx-nav-item-style dd a:hover{color: #c20005;border-bottom: solid 1px #c20005;}
.gx-nav-item-style{margin-bottom: 15px;}
.gx-nav-class{position: relative;width: 200px;margin: 0 0 0 1px;height: 32px;line-height: 32px;}
.gx-nav-class a{color:#fefefe;}
.gx-nav-classSel{background: #f7f7f7;color: #c20005;}
.gx-nav-classSel a{color: #c20005;}
.gx-nav-class span{position: absolute;left:20px;top:0px;display: block;width: 100%;height: 100%;z-index:1;}
.gx-nav-item-right{float: right;width: 170px;margin: 10px 12px 0 0;}
.gx-nav-item-right img{border: 1px #e8e8e8 solid;margin-top: 5px;}
.gx-nav-right{float: left;}


/*全站统一---底部*/
.gx-bottom{background: #fff;border-top: 2px #c20005 solid; padding-top:20px;width: 100%;min-width: 1200px;}
.gx-bottom-slogan{width: 1200px;margin: auto;padding-top: 38px;}
.gx-bottom-info{border-top: 1px #dcdcdc solid;margin-top: 18px;padding: 25px 0px;}
.gx-bottom-info dl{float: left;width:240px;}
.gx-bottom-info dl dt{font-size: 15px;color: #333;font-weight: bold;line-height: 30px;}
.gx-bottom-info dl dd a{color: #555;font-size: 15px; line-height: 30px;width:100%;height:30px;overflow:hidden;display:block;}
.gx-bottom-info dl dd a:hover{color:#c20005;}
.gateWeixin2{ margin:0 90px 0 0; float:right; width:98px; overflow:hidden;}
.gateWeixin2 img{margin-bottom: 3px;}
.gateWeixin2 p{ color:#646464; text-align:center;}
.gx-bottom-link{background: #333;width: 100%;height:auto;min-height: 150px;min-width: 1200px}
.gx-bottom-link-main{width: 1200px;margin: auto;text-align: center;color: #fff;}
.gx-bottom-link-main .bottom-link a{color: #fff;}
.gx-bottom-link-main .bottom-link a:hover{text-decoration: underline;}
.gx-bottom-link-item{padding: 25px 0 5px 0;}
.gx-bottom-link-item2 span{display: block;float: left;color: #fff;margin-right: 10px;}
.gx-bottom-link-item2 a{float: left;display: block;}
.gx-bottom-link-item2{margin-left: 113px;}
.bottom-link span{margin:0px 5px;color:#fff;font-size: 12.5px;}
.gx-bottom-link-item a{color: #fff;margin: 0px 5px; font-size: 12.5px;} 
.gx-bottom-link-item a:hover{text-decoration: underline;}
.gx-bottom-img{margin-top: 20px;text-align: center;overflow: hidden;}
.gx-bottom-img img{margin-right: 15px;}
.gx-bottom-img a{display: inline-block;}
.gx-bottom-dl dt{float: left;border-radius: 50%;border: #c8000a solid 1px;width: 60px;height: 60px;text-align: center;line-height: 54px;font-size: 26px;color: #c8000a;}
.gx-bottom-dl dd{float: left;color: #696969;font-size: 16px;margin:2px 0 0 20px;width: 150px;}
.gx-bottom-dl dd span{font-size: 22px;color: #323232;display: block;}


/*------首页主体-----*/
.gx-main{width:1200px;max-width: 1200px;margin: auto;padding-bottom: 50px;}
.gx-banner{overflow: hidden;}
.gx-banner-main{width: 800px;height: 450px;float: left;}
.gx-banner-advert{width: 200px;height: 450px;float: left;}
.gx-banner-advert img{width: 200px;height: 225px;}
.gx-banner-news{width: 200px;height: 450px;float: left;background: #f5f5f5;}
.gx-top-banner{width:800px;height: 450px;position:relative;overflow:hidden;float: left;}
.gx-top-banner img{width: 100%;height: 100%;}
.gx-top-banner ul{margin: auto;}
.gx-top-banner .flex-control-nav li a {content: "\f111";font-size:0;font-family: FontAwesome;width: 12px;height: 12px;display: inline-block;margin:0 5px;background: #6e6e6e; border-radius:10px;color: #fff;text-align: center;line-height: 18px;}
.gx-top-banner .flex-control-nav li a:hover {background: #c20005;}
.gx-top-banner .flex-control-nav li a.flex-active {cursor: default;background: #c20005;}
.gx-top-banner .flex-control-nav {list-style: none;position: absolute;top: 92%;width: 100%; z-index: 2;padding: 0;margin: 0;left: 0;text-align: center;} 
.gx-top-banner .flex-control-nav li {display: inline-block;}
.gx-top-banner .flex-direction-nav{position: absolute;top:205px;left:0;z-index: 2;display: none;}
.gx-top-banner .flex-direction-nav a{display: block;width: 30px;height: 60px;font-size: 0;position:absolute;}
.gx-top-banner .flex-direction-nav .flex-prev{background:url(../images/bgs/index_sprites.png) no-repeat 0px -290px;left:10px;}
.gx-top-banner .flex-direction-nav .flex-next{background:url(../images/bgs/index_sprites.png) no-repeat -50px -290px;left:760px;}

.gx-bnl-title{text-align: center;font-size: 18px;background: url(../images/bgs/gx_bnt_bg.png) center center no-repeat;}
.gx-bn-list{border-bottom: solid 2px #575757;padding: 35px 10px 5px 10px;margin: 0px 10px;overflow: hidden;height: 193px;}
.gx-bn-list ul{margin: 10px 0px;}
.gx-bn-list ul li{line-height: 26px;font-size: 11px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.gx-bn-list ul li span{color: #c8000a;}
.gx-bn-more{float: right;color: #ff6400;font-size: 11px;background-position: 15px -948px;padding-right: 15px;}
.gx-bn-more:hover{color:#ff6400; }
.gx-bn-nav{padding: 10px;}
.gx-bn-nav ul li{width: 60px;text-align: center; float: left;margin-top: 20px;}
.gx-bn-nav ul li b{display: inline-block;font-weight: 100;line-height: 30px;color: #646464;}
.gx-bn-nav ul li a{display: block;}
.gx-bn-nav ul li a:hover b{color:#C20005;}

/*浮动搜索*/
.gx-floating-search{display: none;width: 100%;height: 65px;background: #ffffff;position: fixed;top: 0px;left: 0px;z-index: 999;box-shadow: 0px 2px 2px #dddddd;}
.gx-floating-search .gx-top-logo{margin-top: 10px;}
.gx-floating-search .gx-top-logo img{height: 44px;width: 160px;}
.gx-floating-search .gx-top-search{margin-top: 15px;}

/*楼层产品*/
.gx-floor-title{background: url(../images/bgs/gx_title_bg.png) center center no-repeat;text-align: center;line-height: 55px;font-size: 22px;margin: 50px 0px 30px 0px;}
.gx-floor-main{overflow: hidden;}
.gx-fm-img{float: left;margin-bottom: 15px;overflow: hidden;}
.gx-fm-img-01,.gx-fm-img-03,.gx-fm-img-04{margin-right: 15px;}
.gx-fm-img-01,.gx-fm-img-02{width: 211px;height: 350px;}
.gx-fm-img-01 img,.gx-fm-img-02 img{width: 211px;height: 350px;}
.gx-fm-img-03,.gx-fm-img-04{margin-top: 15px;width: 300px;height: 255px;}
.gx-fm-img-05{margin-top: 15px;width: 570px;height: 255px;}
.gx-fm-img-03 img,.gx-fm-img-04 img{width: 300px;height: 255px;}
.gx-fm-img-05 img{width: 570px;height: 255px;}
.gx-fm-right{width: 688px;float: left;height: 635px;}
.gx-fm-right ul li{width: 329px;height: 302px;overflow: hidden;float: left;margin-left: 15px;margin-bottom: 15px;}
.gx-fmb-01{width:748px;height: 350px;position:relative;overflow:hidden;float: left;margin-right: 15px;}
.gx-fmb-01 img{width: 100%;height: 100%;}
.gx-fmb-01 ul{margin: auto;}
.gx-fmb-01 .flex-control-nav li a {font-size:0;font-family: FontAwesome;width: 12px;height: 12px;display: inline-block;margin:0 5px;background: #6e6e6e; border-radius:10px;color: #fff;text-align: center;line-height: 18px;}
.gx-fmb-01 .flex-control-nav li a:hover {background: #c20005;}
.gx-fmb-01 .flex-control-nav li a.flex-active {cursor: default;background: #c20005;}
.gx-fmb-01 .flex-control-nav {list-style: none;position: absolute;top: 92%;width: 100%; z-index: 2;padding: 0;margin: 0;left: 0;text-align: center;} 
.gx-fmb-01 .flex-control-nav li {display: inline-block;}
.gx-fmb-01 .flex-direction-nav{position: absolute;top:165px;left:0;z-index: 2;display: none;width: 100%;}
.gx-fmb-01 .flex-direction-nav a.flex-prev{display: block;width: 30px;height: 60px;font-size: 0;position:absolute;background:url(../images/bgs/index_sprites.png) no-repeat 0px -290px;left:10px;}
.gx-fmb-01 .flex-direction-nav a.flex-next{display: block;width: 30px;height: 60px;font-size: 0;position:absolute;background:url(../images/bgs/index_sprites.png) no-repeat -50px -290px;right:10px;}

.gx-fmb-02{width:512px;height: 619px;position:relative;overflow:hidden;float: left;}
.gx-fmb-02 img{width: 100%;height: 100%;}
.gx-fmb-02 ul{margin: auto;}
.gx-fmb-02 .flex-control-nav li a {font-size:0;font-family: FontAwesome;width: 12px;height: 12px;display: inline-block;margin:0 5px;background: #6e6e6e; border-radius:10px;color: #fff;text-align: center;line-height: 18px;}
.gx-fmb-02 .flex-control-nav li a:hover {background: #c20005;}
.gx-fmb-02 .flex-control-nav li a.flex-active {cursor: default;background: #c20005;}
.gx-fmb-02 .flex-control-nav {list-style: none;position: absolute;top: 92%;width: 100%; z-index: 2;padding: 0;margin: 0;left: 0;text-align: center;} 
.gx-fmb-02 .flex-control-nav li {display: inline-block;}
.gx-fmb-02 .flex-direction-nav{position: absolute;top:50%;left:0;z-index: 2;display: none;width: 100%;}
.gx-fmb-02 .flex-direction-nav a.flex-prev{display: block;width: 30px;height: 60px;font-size: 0;position:absolute;background:url(../images/bgs/index_sprites.png) no-repeat 0px -290px;left:10px;}
.gx-fmb-02 .flex-direction-nav a.flex-next{display: block;width: 30px;height: 60px;font-size: 0;position:absolute;background:url(../images/bgs/index_sprites.png) no-repeat -50px -290px;right:10px;}

.gx-floor-item{overflow: hidden;border-bottom: #e6e6e6 solid 2px;padding-bottom: 40px;}
.gx-floor-item ul li{width: 228px;float: left;margin-left: 15px;height: 300px;overflow: hidden;}
.gx-floor-item ul li img{width: 228px;height: 300px;}
.gx-floor-item ul li:first-child{margin-left: 0px;}
.gx-nav_advert{margin-top: 35px;overflow: hidden;height: 150px;}
.gx-nav_advert a{float: left; margin-left: 12px;width: 190px;}
.gx-nav_advert a img{width: 190px;height: 150px;}
.gx-nav_advert a:first-child{margin-left: 0px;}
.gx-floor-next{position: absolute;right: 0px;margin-top: -70px; color: #8c8c8c;padding-right: 32px;line-height: 24px; background-position: 38px -349px; cursor: pointer;}
.gx-floor-like{overflow: hidden;}
.gx-floor-like ul li{width: 190px;height: 240px;float: left;border: #c8c8c8 solid 1px;margin-left: 9px;}
.gx-floor-like ul li:first-child{margin-left: 0px;}
.gx-floor-like ul li a{display: block;}
.gx-floor-like ul li .gx-fl-img{text-align: center;width: 190px;margin-top: 10px;height: 158px;}
.gx-floor-like ul li .gx-fl-img img{width: 168px;height: 158px;}
.gx-floor-like ul li .gx-fl-details{ margin: 20px 10px 10px 10px;color: #8c8c8c;line-height: 18px;background-position: 140px -390px;height: 40px;}
.gx-floor-like ul li .gx-fl-details p{width: 140px;overflow: hidden;}
.gx-floor-like ul li .gx-fl-title{font-size: 14px;color: #323232;height: 22px;}
.gx-floor-like ul li .gx-fl-price{color:#c8000a;font-size: 14px; }
.gx-floor-like ul li .gx-fl-price span{font-size: 12px;font-weight:normal  }
.gx-index-end{text-align: center;margin: 130px 0px 20px 0px;overflow: hidden;height: 22px;}

/*右侧浮动菜单*/
.gx-rightFD{width: 30px;height: 100%;background: #1b1b1b;position: fixed;top:0px;right: 0px;z-index: 1000;}
.gx-FDPersonal:hover .gx-collection-tc1{width: 100px;background-color: #c20005;}
.gx-FDShopping{display: block;border-bottom: 1px #040404 solid;border-top: 1px #040404 solid;height: 133px;width: 100%;text-align: center;writing-mode:lr-tb;color: #fff;word-wrap: break-word; }
.gx-FDShopping-ioc{display: block;width: 26px;height: 23px;margin: 10px auto;background-position: -3px -550px;}
.gx-FDShopping-num{display: block;width: 18px;height: 20px;margin: 5px auto;text-align: center;line-height: 20px;background: #c20005;border-radius: 50%; color:#ffffff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 0px 1px;}
.gx-FDShopping:hover{color: #fff;background: #c20005;}
.gx-FDShopping:hover .gx-FDShopping-num{background: #ffffff;border-radius: 50%; color:#c20005;}
.gx-collection{position: relative;display: block;height: 32px;width: 100%;margin-top: 10px;}
.gx-collection:hover{background-color: #c20005;overflow:inherit;}
.gx-collection-tc{height: 32px;position: absolute;top:0px;opacity: 0; z-index: 999;transition: 0.5s;width: 100px;right: 60px;color: #ffffff;text-align: center;line-height: 32px;font-size: 14px;background-color: #c20005;display: none;}
.gx-collection-01{display: block;height: 32px;width: 100%;margin-top: 140px;text-align: center;writing-mode:lr-tb;color: #fff;word-wrap: break-word;background-position: -3px -893px;}
.gx-collection-02{background-position: 0px -594px;}
.gx-collection-03{background-position: -2px -644px;}
.gx-collection-04{background-position: -1px -696px;}
.gx-collection-tc2{position: absolute;display: none;left:-143px;top:-100px;width: 143px;background: #efefef;color: #696969;text-align: center;padding-bottom: 20px;cursor:default;}
.gx-collection-tc2 img{display: block;margin:20px auto 5px auto;}
.gx-collection-04:hover{background-color: #c20005;}
.gx-collection-04:hover .gx-collection-tc2{display: block;}
.gx-collection-05{margin-top: 100px;background-position: 0px -745px;position: absolute;bottom: 10px;display: none;}
.gx-collection-06{background-position: -2px -2723px;position: absolute;bottom: 82px;}
.gx-collection-07{background:url('../images/bgs/msg.png') center no-repeat;position: absolute;bottom: 42px;}

/*浏览记录*/
.gx-history-back{padding-top: 10px;padding-bottom: 10px;}
.gx-history-back span{width: 36px;height: 24px;display: block;background-position: 0 -1150px; cursor: pointer;}
.gx-history-title{font-size: 13px;font-weight: bold;padding-left: 10px;color: #ffffff;}
.gx-history-title span{margin-left: 10px;color: #cccccc;font-size: 10px;font-weight: 100;cursor: pointer;}
.gx-history-no-img{width: 200px;height: 100px;background: url(../images/bgs/loading.png) center center no-repeat;margin-top: 100px;}
.gx-history-no-title{text-align: center;color: #c8c8c8;line-height: 18px;font-size: 11px; margin-bottom: 10px;}
.gx-history-no a{text-align: center;font-size: 13px;color: #c8000a;display: block;}
.gx-history{width: 200px;background: #414141;height: 100%;position: fixed;right: -200px;top: 0px;z-index: 1000;}
.gx-history .click-out{cursor: pointer;}
.gx-history-item{padding-top: 10px;min-height: 400px;}
.gx-history-item ul{overflow: hidden;}
.gx-history-item ul li{width: 91px;height: 135px;float: left;margin-left: 8px;padding-top: 5px;}
.gx-history-item ul li:hover .gx-history-item-box{background:#c8c8c8;padding-top: 0px;}
.gx-history-item ul li:hover .gx-history-item-box p{display: block;}
.gx-history-item-box{padding:20px 5px 5px 5px;}
.gx-history-item-box p{height: 20px;text-align: right; display: none;}
.gx-history-item-box img{width: 80px;height: 80px;}
.gx-history-item-flo{width: 14px;height: 14px;display: inline-block;float: left;background-position: -8px -1050px;margin-left: 50px;margin-top: 3px; cursor: pointer;}
.gx-history-item-flo.on{background-position: -57px -1050px;}
.gx-history-item-del{width: 10px;height: 10px;display: inline-block;float: right;background-position: -9px -1103px;cursor: pointer;margin-top:5px;margin-right: 2px;}
.gx-history-item-price{text-align: center;line-height: 20px;color: #ffffff;font-size: 13px;}
.gx-history-prev{width: 20px; height: 20px;display: inline-block;margin-left: 75px;background-position: -5px -1248px;margin-top: 20px;}
.gx-history-next{width: 20px; height: 20px;display: inline-block;background-position: -54px -1249px;margin-left: 10px;margin-top: 20px;}
.gx-history-prev.on{background-position: -7px -1199px;}
.gx-history-next.on{background-position: -53px -1198px;}


/*在线咨询*/
.socket-iframe{position: fixed;top: 50%;left: 50%;margin-top: -277px;margin-left: -442px;z-index: 99;width: 824px;height: 554px;display: none}
.socket-icon{background: url('../images/bgs/tell.png');}
.socket-box{width: 820px;height: 550px;position: relative;background: #f3f3f3;border-radius: 6px;z-index: 99;box-shadow:1px 1px 4px #ccc;overflow: hidden;}
.socket-left{width: 230px;float: left;height: 100%;}
.socket-right{width: 590px;float: left;background: #fff;height: 100%;}

.socket-logo{padding: 20px 20px 20px 90px;position: relative;}
.socket-logo img{width: 66px;height: 66px;border-radius: 50%;position: absolute;top: 20px;left: 20px;}
.socket-logo .name{font-size: 16px;color: #323232;line-height: 2.4;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.socket-logo .grade{font-size: 12px;color: #646464;line-height: 22px;}
.socket-logo .grade i{width: 20px;height: 18px;display: inline-block;margin-right: 4px;float: left;background-position: 0 2px}

.socket-search{padding: 0px 10px 20px 10px;position: relative;text-align: center;}
.socket-search input{font-size: 14px;padding: 4px 10px 4px 40px;height: 22px;line-height: 22px;background: #fff;border-radius: 30px;}
.socket-search button{width: 17px;height: 19px;background-position: 0 -16px;position: absolute;cursor: pointer;top: 6px;left: 30px;border:none;}
.socket-list{height: 390px;overflow: hidden;}
.socket-list img{width: 42px;height: 42px;border-radius: 50%;position: absolute;top: 15px;left: 20px;}
.socket-list ul{height: 390px;width: 246px;overflow: auto;}
.socket-list ul li{padding: 15px 10px 14px 66px;position: relative;cursor: pointer;}
.socket-list ul li.active{background: #e6e6e6;}
.socket-list ul li:hover{background: #e6e6e6;}
.socket-list .title{font-size: 16px;line-height: 1.4;padding-right: 70px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.socket-list .txtle{font-size: 14px;color: #8c8c8c;position: relative;padding-right: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.socket-list .txtle span{width: 18px;height: 20px;font-size: 12px;text-align: center;line-height: 20px;padding: 0px 1px;background: #ff5c59;border-radius: 20px;color: #fff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;position: absolute;right: 0;}
.socket-list .time{font-size: 12px;color: #a6a6a6;position: absolute;right: 15px;top: 15px;}

.socket-close{width: 20px;height: 20px;background-position: -2px -71px;position: absolute;top: 10px;right: 14px;cursor: pointer;}
.socket-name{font-size: 18px;line-height: 58px;border-bottom: #e6e6e6 solid 1px;padding: 0px 20px;}
.socket-info{padding: 20px;height: 320px;overflow: auto;border-bottom: #e6e6e6 solid 1px;}
.socket-info ul li{margin-bottom: 10px;position: relative;word-wrap:break-word;word-break:break-all}
.socket-info ul li img{max-width: 140px;}
.socket-info ul li span:before{width: 0;height: 0;content:"";border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #f3f3f3;position: absolute;left: -8px;}
.socket-info ul li span{background: #f3f3f3;padding: 8px;font-size: 14px;border-radius: 4px;display:inline-block;word-wrap:break-word;word-break:break-all}
.socket-info ul li.own{text-align: right}
.socket-info ul li.own span:before{display: none}
.socket-info ul li.own span:after{width: 0;height: 0;content:"";border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #c2e0fe;position: absolute;right: -8px;}
.socket-info ul li.own span{background: #c2e0fe;padding: 8px;font-size: 14px;border-radius: 4px;display:inline-block;}

.socket-send{height: 128px;}
.socket-face{height: 40px;position: relative;}
.socket-input{padding:0 20px 20px 20px;}
.socket-input img{display: inline-block;vertical-align: center;margin:0 2px;}
.socket-input img{max-width: 140px;}
.socket-send .input{border:#ddd solid 1px;height: 40px;overflow: auto;padding: 4px;}
.socket-send button{width: 70px;height: 28px;cursor: pointer;background: #ff5c59;border-radius: 2px;border:none;font-size: 14px;color: #fff;float: right;display: block;margin-top: 4px;font-family: "微软雅黑"}

.socket-face span{display: inline-block;cursor: pointer;}
.socket-face .face{width: 18px;height: 18px;background-position: 0 -35px;margin-left: 20px;margin-top: 10px;}
.socket-face .price {width: 20px;height: 16px;background-position: 0 -53px;margin-left: 6px;position: relative;overflow: hidden;display: inline-block;cursor: pointer;z-index: 9999}
.socket-face .price  input {position: absolute;left: -150px;top: 0;cursor: pointer;z-index: 9999;padding-top: 20px;}
.face-box{position: absolute;width: 360px;height: 150px;border:#DFE6F6 solid 1px;bottom: 40px;display: none;background: #fff}
.face-box ul li{width: 28px;height: 27px;border:#fff solid 1px;float: left;text-align: center;padding-top: 1px;cursor: pointer;}
.face-box ul li:hover{border: #DFE6F6 solid 1px;}

.not-tell{text-align: center;font-size: 14px;color: #8c8c8c;padding-top: 20px;margin-top: 110px;}
.not-tell span{height:80px;width:96px;background-position: 0 -95px;display: block;margin:auto;margin-bottom: 20px;}
.not-tell.none{display: none}

.socket-face .fileInput{font-size: 12px;position:absolute;right:0;top:0;opacity: 0;filter:alpha(opacity=0);cursor:pointer;}
